<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="color-scheme" content="light dark">
		<title>Rust + WASM + Axum + Service Workers</title>
		<link rel="stylesheet" href="/pico.min.css">
	</head>
	<body class="container">
		<header>
			<nav>
				<ul>
					<li>
						<strong>HTMX Axum</strong>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/" class="contrast">Home</a>
					</li>
					<li>
						<a href="/hello" class="contrast">Hello</a>
					</li>
					<li>
						<a href="/form" class="contrast">Form</a>
					</li>
				</ul>
			</nav>
		</header>
		<main >
			<div id="kind">Loading...</div>
			<div class="controls">
				<button id="register-btn">Register Service Worker</button>
				<button id="unregister-btn">Unregister Service Worker</button>
			</div>

      {% block content %}{% endblock %}
		</main>
		<script type="module" src="/main.js"></script>
		<script src="/htmx.min.js"></script>
	</body>
</html>
