on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      
      - uses: pnpm/action-setup@v4.2.0

      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "pnpm"

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: wasm32-unknown-unknown

      - uses: taiki-e/install-action@v2
        with:
          tool: wasm-bindgen-cli

      - uses: Swatinem/rust-cache@v2

      - name: Install and build
        run: pnpm install --frozen-lockfile

      - name: build
        run: cargo build --release

      - name: bindgen 
        run: wasm-bindgen ./target/wasm32-unknown-unknown/release/wasm_service_worker.wasm --out-dir ./src/pkg --typescript --target web
      
      - name: build
        run: pnpm build

      - name: Deploy
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzrh --delete
          path: dist/
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
          remote_key_pass: ${{ secrets.DEPLOY_PASS }}
